:root {
    --color-principal: #8A0808;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #111;
    width: 80%;
}

/* Header */
header {
    position: fixed;
    right: 20px;
    top: 20%;
}
.nav {
    
}
.nav__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.nav__menu li {
    position: relative;
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #2b2a2a;
    margin-top: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
/* .nav__menu a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #2b2a2a;
    margin-top: 10px;
    border-radius: 50px;
    padding-top: 10px;
} */
.active {
    background-color: var(--color-principal);
}
.nav__menu h4 {
    color: transparent;
    padding-right: 20%;
    padding-left: 25%;
    padding-top: 31%;
    position: absolute;
    right: 60%;
    bottom: 0;
    border-radius: 50px 0 0 50px;
    padding-bottom: 32%;
    background-color: var(--color-principal) rgba(0, 0, 0, 0);
}
.nav__menu a:hover h4 {
    display: inline-block;
    color: white;
    background: var(--color-principal);
    right: 100%;
    transition: right 0.3s, color 1s;
}
.nav__menu li:hover {
    border-radius: 0px 50px 50px 0px;
    background-color: var(--color-principal);
}
.nav__menu-home span::before {
    content: url("https://i.imgur.com/I9mFSdh.png");
    display: inline-block;
    border-radius: 30px;
    position: relative;
    right: 2px;
}
.nav__menu-about span::before {
    content: url("https://i.imgur.com/TIkXgl2.png");
    display: inline-block;
    border-radius: 30px;
    position: relative;
    right: 2px;
}
.nav__menu-portfolio span::before {
    content: url("https://i.imgur.com/f5cNIU1.png");
    display: inline-block;
    border-radius: 30px;
    position: relative;
    right: 2px;
}
.nav__menu-contact span::before {
    content: url("https://i.imgur.com/FQWxEY4.png");
    display: inline-block;
    border-radius: 30px;
    position: relative;
    right: 2px;
}
.nav__menu-blog span::before {
    content: url("./imagenes/Home.png");
    display: inline-block;
    border-radius: 30px;
    position: relative;
    right: 2px;
}

/* Imagen */
.home__background-dinamic {
    background-color: var(--color-principal);
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}

/* Contenido home */
.home__content-1 {
    /* width: 100%; */
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}
.content-1__img-personal {
    background-image: url("https://i.imgur.com/wkXOC8d.jpg");
    background-size: cover;
    height: 90vh;
    width: 40%;
    max-width: 400px;
    border-radius: 25px;
    margin-left: 30px;
    background-position: top center;
    box-shadow: 0px 0px 10px black;
}
.content-1__description {
    width: 50%;
    display: flex;
    justify-content: center;
}
.content-1__description-personal {
    width: 80%;
}
